
body {
    /* margin: 0; */
    /* background: purple; */
    /* background-image: linear-gradient(-164deg, #6A7B77 0%, #4F4A50 35%, #18081A 100%); */
}

.flexer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}